
<div class="form-group row justify-content-center">
    <div class="col-sm-6"> 
            {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="col text-center" style="font-size: xx-large;">
                <div class="alert alert-{{ category }}" style="color: crimson;">{{ message }}</div>
            </div>
                {% endfor %}
        <p class="text-center" style="font-size: x-large;"> © Copyright 2021 - Marek Männiksaar.  All rights reserved. </p>  
    </div>  
</div>  

